.order-list {
  background: #d1cfcf;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.order-list h1 {
  font-weight: 500;
}
.order-list-container {
  width: 90%;
  height: 82%;
}
.order-list-title {
  display: flex;
  justify-content: space-around;
  font-weight: 500;
  font-size: 18px;
}
.order-list-content-container {
  height: 80%;
  overflow-y: auto;
}
.order-list-content {
  display: flex;
  justify-content: space-around;
  font-weight: 400;
  font-size: 14px;
  background: #c5c5c5;
  cursor: pointer;
  border: 1px solid #dedede;
  border-radius: 5px;
}
.remove {
  width: fit-content;
  height: 30px;
  margin-top: 10px;
  border-radius: 4px;
  border: 1px solid rgb(108, 69, 69);
  outline: none;
  cursor: pointer;
  color: #e3e3e3;
  background: red;
}
